#box{
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
}


/* 
[Box Model 정리 - Day 6]

display: none;
- 요소를 화면에서 완전히 숨김
- 보이지 않을 뿐만 아니라 공간도 차지하지 않음
- 토글 UI(열기/닫기) 구현 시 자주 사용

margin-top: 10px;
- 요소 바깥쪽 여백 (위쪽)
- 다른 요소와의 거리 조절
- 버튼과 박스가 너무 붙지 않게 함

padding: 10px;
- 요소 안쪽 여백
- 내용(content)과 테두리(border) 사이 공간
- 글자가 테두리에 붙지 않게 함

border: 1px solid black;
- 요소의 테두리
- 1px: 두께
- solid: 실선
- black: 색상

[중요 개념]
margin  : 요소 바깥의 거리
padding : 요소 안쪽의 거리
*/
